- content_for :title, "Circles Prototypes"

%h1 Welcome to Circles prototyping!


= link_to "Intro", circles_path
= link_to "Onboarding", circles_path
= link_to "Onboarding (supporter)", circles_path

= link_to "Circles", circles_path
= link_to "Circle", circles_path
= link_to "Account", circles_path
= link_to "Network", circles_path
= link_to "Notifications", circles_path