%footer
  .reactions
    .reaction-button.icon-reaction
      //= image_tag "icons/reaction-icon.png"
    .reactions-holder
      = image_tag "icons/neutral-face.png"
      = image_tag "icons/thinking-face.png"
      = image_tag "icons/very-happy-face.png"
      = image_tag "icons/happy-face.png"
      = image_tag "icons/very-sad-face.png"
  .like-actions
    .replies 2 replies
    .bookmark-button.icon-bookmark
      //= image_tag "icons/post-bookmark-icon.png"
