#tab-bar
  %ul
    %li
      = link_to circles_path do
        = image_tag "tab-bar/circles.png"
        %span Circles
    %li
      = link_to network_path do
        = image_tag "tab-bar/community.png"
        %span Community
    %li
      = link_to notifications_path do
        = image_tag "tab-bar/notifications.png"
        %span Notifications
    %li
      = link_to account_path do
        = image_tag "tab-bar/account.png"
        %span Account
