#tab-bar
  %ul
    %li
      = link_to circles_path do
        = image_tag "tab-bar/circles.png"
        %span Circles
    %li
      = link_to circles_path do
        = image_tag "tab-bar/community.png"
        %span Community
    %li
      = link_to circles_path do
        = image_tag "tab-bar/saved.png"
        %span Saved
    %li
      = link_to circles_path do
        = image_tag "tab-bar/notifications.png"
        %span Notifications
    %li
      = link_to circles_path do
        = image_tag "tab-bar/account.png"
        %span Account
