- content_for :title, "Your circle"
- @body_id = "your-circle"
- @body_class = "blue"
- @inner_class = "nav-bar tab-bar"
- @tab_highlight = "circles-tab expression-tab"
- session[:status_link] = setup_status_path
- session[:status_setup_link] = circle_first_time_status_path

- content_for :nav_bar do
  #nav-bar
    = link_to circle_switcher_path do
      #circle-switcher-control Your circle
    .title
      = link_to status_path do
        = image_tag "icons/thinking-face.png"
    .actions
      = link_to circle_switcher_path do
        = image_tag "icons/activity-icon.png"

      = link_to circle_switcher_path do
        = image_tag "icons/dots-icon.png"

#feed
  = render "shared/first_post_feed"
