- content_for :title, "Your circle"
- @body_id = "your-circle"
- @body_class = "blue"
- @inner_class = "nav-bar tab-bar"
- @tab_highlight = "circles-tab expression-tab"
- session[:status_link] = setup_status_path
- session[:status_setup_link] = circle_first_time_status_path

- content_for :nav_bar do
  #nav-bar
    = link_to circle_switcher_path do
      #circle-switcher-control Your circle
    .title
      = link_to status_path do
        = image_tag "icons/neutral-face.png"
    .actions
      = link_to circle_switcher_path do
        .icon-activity

      = link_to circle_switcher_path do
        .icon-dots

#circle-nav-tabs
  %ul
    %li.active 
      = link_to "Feed", circle_first_time_inner_path
    %li
      = link_to "Member chat", circle_private_first_time_path

#feed
  = render "shared/ask_for_data_post"
  = render "shared/first_post_inner_feed"

