- content_for :title, "Choose a Circle"
- @no_tab_bar = true
- @body_id = "circle-switcher"
- @body_class = "dk-blue"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title Circle members
    .actions
      = button_to "Next", new_circle_add_path, :id => "next-button", :method => "get", :class => "active"

#choose-a-circle
  %ul.circles
    %h2 Owned circles
    %li.neutral
      %div
        %h3 Peter's circle
        %p 1 new
      %div
        .members
          .profile-picture
            = image_tag "faces/2.jpg"
          .profile-picture
            = image_tag "faces/4.jpg"
          .profile-picture
            = image_tag "faces/3.jpg"
        .status
          = image_tag "icons/neutral-face.png"

  %ul.circles
    %h2 Other people's circles
    %li.happy
      %div
        %h3 Peter's circle
        %p 1 new
      %div
        .members
          .profile-picture
            = image_tag "faces/2.jpg"
          .profile-picture
            = image_tag "faces/4.jpg"
          .profile-picture
            = image_tag "faces/3.jpg"
        .status
          = image_tag "icons/neutral-face.png"
    %li.sad
      %div
        %h3 Peter's circle
        %p 1 new
      %div
        .members
          .profile-picture
            = image_tag "faces/2.jpg"
          .profile-picture
            = image_tag "faces/4.jpg"
          .profile-picture
            = image_tag "faces/3.jpg"
        .status
          = image_tag "icons/neutral-face.png"

  %ul.invitations
    %h2 Invitations
    %li
      .image
        = image_tag "faces/2.jpg"
      .content
        %h3 Peter Wright
        %p 7 hours remaining
      .actions
        %button.ghost.small View
