- content_for :title, "Your circle"
- @body_id = "your-circle"
- @body_class = "blue"
- @inner_class = "nav-bar tab-bar"
- @tab_highlight = "circles-tab expression-tab"

- content_for :nav_bar do
  #nav-bar
    = link_to circle_switcher_path do
      #circle-switcher-control Your circle
    .title
      = link_to status_path do
        = image_tag "icons/happy-face.png"
    .actions
      = link_to circle_switcher_path do
        .icon-activity

      = link_to circle_switcher_path do
        .icon-dots

#circle-nav-tabs
  %ul
    %li
      = link_to "Feed", circle_path
    %li.active 
      = link_to "Member chat", circle_private_path

#chat
  /.alert Peter hasn't left his house in 28 hours

  .day
    %p Yesterday

  = render "shared/chat_message_us", :message => "Guys i'm worried about him", :time => "2.30", :reaction => " "
  = render "shared/chat_message_us", :message => "He's becomming a bit of a problem", :time => "2.30", :reaction => " "

  .gap
  .day
    %p Today

  = render "shared/chat_message_them", :image => "faces/3.jpg", :message => "What do you think we should do?", :time => "10.30", :name => "Jack"

  = render "shared/chat_message_them", :image => "faces/2.jpg", :message => "I think we all know the answer", :time => "10.40", :name => "Beth"



/ #chat
/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Words that were said by ahuman", :time => "2.30pm 12/10", :name => "Peter Coolman"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word", :time => "2.30pm 12/10", :name => "Peter Coolman"

/   .alert Peter hasn't left his house in 28 hours

/   = render "shared/chat_message_us", :message => "woof", :time => "2.30pm 12/10", :reaction => "Aidan, Cosi & Beth agree with this"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word not woof you strang buoy", :time => "2.30pm 12/10", :name => "Beth Bullock"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Words that were said by ahuman", :time => "2.30pm 12/10", :name => "Peter Coolman"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word", :time => "2.30pm 12/10", :name => "Peter Coolman"

/   .alert Peter hasn't left his house in 28 hours

/   = render "shared/chat_message_us", :message => "woof", :time => "2.30pm 12/10", :reaction => "Aidan, Cosi & Beth agree with this"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word not woof you strang buoy", :time => "2.30pm 12/10", :name => "Beth Bullock"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Words that were said by ahuman", :time => "2.30pm 12/10", :name => "Peter Coolman"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word", :time => "2.30pm 12/10", :name => "Peter Coolman"

/   .alert Peter hasn't left his house in 28 hours

/   = render "shared/chat_message_us", :message => "woof", :time => "2.30pm 12/10", :reaction => "Aidan, Cosi & Beth agree with this"

/   = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word not woof you strang buoy", :time => "2.30pm 12/10", :name => "Beth Bullock"
