- content_for :title, "Your circle"
- @body_id = "your-circle"
- @body_class = "blue"
- @inner_class = "nav-bar tab-bar"
- @tab_highlight = "circles-tab expression-tab"

- content_for :nav_bar do
  #nav-bar
    = link_to circle_switcher_path do
      #circle-switcher-control Your circle
    .title
      = link_to status_path do
        = image_tag "icons/thinking-face.png"
    .actions
      = link_to circle_switcher_path do
        = image_tag "icons/activity-icon.png"

      = link_to circle_switcher_path do
        = image_tag "icons/dots-icon.png"

#circle-nav-tabs
  %ul
    %li.active 
      = link_to "Feed", circle_first_time_path
    %li
      = link_to "Member chat", circle_private_path

#feed
  .feed-post
    %header
      %h5 Julia
      %p.sub Jun 10
    .image
      = image_tag "view.jpg"
    .content
      %h3 The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
    %footer
      .reactions
        .reaction-button
          = image_tag "icons/reaction-icon.png"
      .like-actions
        .replies 2 replies
        .bookmark-button
          = image_tag "icons/post-bookmark-icon.png"
        

  .feed-post
