- content_for :title, "Your circle"
- @body_id = "your-circle"
- @body_class = "blue"
- @inner_class = "nav-bar tab-bar"
- @tab_highlight = "circles-tab"

- content_for :nav_bar do
  #nav-bar
    = link_to circle_switcher_path do
      #circle-switcher-control Your circle
    .title
      = link_to status_path do
        = image_tag "icons/neutral-face.png"
    .actions
      = link_to circle_switcher_path do
        .icon-activity

      = link_to circle_switcher_path do
        .icon-dots

- content_for :fixed_to_base do
  = render "shared/private_chat_ui", :buttonTitle => "Post"

#circle-nav-tabs
  %ul
    %li
      = link_to "Feed", circle_first_time_inner_path
    %li.active 
      = link_to "Member chat", circle_private_path

.tooltip.private-circle
  This is a private space away from Peter for you to co-ordinate with other circle members.
  Important updates from the feed will also appear here.
  %br
  %br
  %strong Peter can never read what is posted in here.

#chat
  /.alert Peter hasn't left his house in 28 hours

  .day
    %p Yesterday

  = render "shared/chat_message_us", :message => "Guys i'm worried about him", :time => "2.30", :reaction => " "
  = render "shared/chat_message_us", :message => "He's becomming a bit of a problem", :time => "2.30", :reaction => " "

  .gap
  .day
    %p Today

  = render "shared/chat_message_them", :image => "faces/3.jpg", :message => "What do you think we should do?", :time => "10.30", :name => "Jack"

  = render "shared/chat_message_them", :image => "faces/2.jpg", :message => "I think we all know the answer", :time => "10.40", :name => "Beth"


