- content_for :title, "Your circle"
- @body_id = "your-circle"
- @body_class = "blue"
- @inner_class = "nav-bar tab-bar"
- @tab_highlight = "circles-tab expression-tab"
- session[:status_link] = circle_new_status_path

- content_for :nav_bar do
  #nav-bar
    = link_to circle_switcher_path do
      #circle-switcher-control Your circle
    .title
      = link_to status_path do
        = image_tag "icons/thinking-face.png"
    .actions
      = link_to circle_switcher_path do
        = image_tag "icons/activity-icon.png"

      = link_to circle_switcher_path do
        = image_tag "icons/dots-icon.png"

#circle-nav-tabs
  %ul
    %li.active 
      = link_to "Feed", circle_first_time_path
    %li
      = link_to "Member chat", circle_private_path

#feed
  = render "shared/new_status_feed"
  = render "shared/image_post_feed"
  = render "shared/event_post_feed"
  = render "shared/text_post_feed"
  = render "shared/blog_post_feed"
