- content_for :title, "Group name"
- @body_id = "circle"
- @body_class = "nav-bar-present"

#nav-bar
  = link_to circles_path do
    #back

  .title
    %h5 Group name

  .actions

.centered
  %ul.tabs
    %li.active Full circle
    = link_to circle_private_path do
      %li Private

#chat
  = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Words that were said by ahuman", :time => "2.30pm 12/10", :name => "Peter Coolman"

  = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word", :time => "2.30pm 12/10", :name => "Peter Coolman"

  .alert Peter hasn't left his house in 28 hours

  = render "shared/chat_message_us", :message => "woof", :time => "2.30pm 12/10", :reaction => "Aidan, Cosi & Beth agree with this"

  = render "shared/chat_message_them", :image => "faces/1.jpg", :message => "Human says word not woof you strang buoy", :time => "2.30pm 12/10", :name => "Beth Bullock"
