- content_for :title, "Onboarding"
- @no_tab_bar = true
- @body_id = "onboarding"
- @body_class = "blue"
- @inner_class = "nav-bar"

- session[:photo_link] = circle_first_time_inner_path
- session[:details_link] = invite_photo_path

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title Invitation

#question-holder
  %section
    .profile-image
      = image_tag "faces/1.jpg"
    %h4 You are about to join John’s inner circle about anxiety
    = link_to "What is a circle?", what_is_a_circle_path, :class => "small-link"

#new-circle-description
  %h4 Are you happy and willing to help John?
  = button_to "Yes - join circle", ob_age_path, :method => "get"

  = link_to "Do not want to join", invite_refuse_path, :class => "link row"
