- content_for :title, "New Circle - who to invite"
- @no_tab_bar = true
- @body_id = "onboarding"
- @body_class = "dk-blue"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title Circle members
    .actions
      = button_to "Next", new_circle_add_path, :id => "next-button", :method => "get", :class => "active"

.onboarding-content
  %h1 Circle members
  %h4 You can invite between 2 and 4 people to your circle.
  %h4 Make sure you're comfortable talking to them about yourself.
  %h4 Choose people who understand you best and really want to help you.
  = button_to "Invite members", new_circle_add_path, :method => "get"

  = image_tag "illustrations/1.png", :style => "left: -20px;", :class => "illustration"
  = image_tag "illustrations/1.png", :style => "left: -20px;", :class => "illustration"
  = image_tag "illustrations/1.png", :style => "left: -20px;", :class => "illustration"
