- content_for :title, "New Expression"
- @no_tab_bar = true
- @body_id = "new-expression"
- @body_class = "blue"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    .title New expression
    .actions
      = link_to "Cancel", :back

#new-post
  #new-post-user-content
    %textarea{:placeholder => "Express yourself", :id => "main-text-area"}
    .images
      .user-content#new-post-image-user-content
        = image_tag "image-3.jpg"
      .user-content#new-post-gif-user-content
        = image_tag "image-1.jpg"
    .location
      .user-content#new-post-location-content
        = image_tag "icons/location-icon-tiny.png"
        Paddington, London
  #new-post-controls
    %ul
      %li#location{"data-content" => "#new-post-location-content"}
        = image_tag "icons/post-controls/location.png"
      %li#microphone{"data-content" => "#new-post-microphone-content"}
        = image_tag "icons/post-controls/microphone.png"
      %li#image{"data-content" => "#new-post-image-content"}
        = image_tag "icons/post-controls/image.png"
      %li#gif{"data-content" => "#new-post-gif-content"}
        = image_tag "icons/post-controls/gif.png"

    = button_to "Post", circle_path, :class => "tiny", :id => "post-button", :method => "get"
    //%button.tiny#post-button Post

  .post-content#new-post-image-content
    = image_tag "photo-list.jpg", :class => "full"

  .post-content#new-post-gif-content
    #gif-search
      #search-bar Search
    = image_tag "photo-list.jpg", :class => "full"
  


:javascript
  var input = document.getElementById("main-text-area");
  var next = document.getElementById("post-button");
  input.focus();
  input.addEventListener("input", function(){
    if(!next.classList.contains("active")){
      next.classList.add("active");
    }
  });
