- content_for :title, "New Circle"
- @body_id = "home"
- @body_class = "peach no-nav-bar new-circle"
- @inner_class = "tab-bar"

= image_tag "circles-logo-vertical-white.png", :id => "home-logo"

#home-content.padded
  %h4 Welcome in! Start by creating a circle.
  = button_to "Create circle", new_circle_purpose_path, :method => "get"
  = link_to "What is a circle?", what_is_a_circle_path, :class => "small-link"

  = image_tag "illustrations/1.png", :style => "left: -20px;"
  = image_tag "illustrations/4.png", :style => "left: 100px;"
  = image_tag "illustrations/5.png", :style => "right: 90px;"
  = image_tag "illustrations/8.png", :style => "right: -40px;"
