- content_for :title, "New Meeting"
- @no_tab_bar = true
- @body_id = "new-expression"
- @body_class = "blue"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title New meeting
    .actions
      = button_to "Post", new_circle_path, :id => "next-button", :method => "get"

#question-holder
  %section
    = render "shared/day_time_picker", :what_title => "What", :when_title => "When", :illustration => "illustrations/7.png"
    .age-question
      %h4 Where
      #location-picker
        %div.placeholder.sheet-launcher{"data-content" => "#location-selection"}
          Choose a location
        .post
          = image_tag "map-small.png"
          .meeting-location
            %p Cineworld cinema
            %p Southside shopping Centre
            %p SW17 2BY

  = button_to "Post meeting", circle_path, :method => "get"

= render "shared/day_time_picker_overlay"




:javascript
  var input = document.getElementById("what");
  var next = document.getElementById("next-button");
  input.focus();
  input.addEventListener("input", function(){
    if(!next.classList.contains("active")){
      next.classList.add("active");
    }
  });
