!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Circles"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, height=device-height,  maximum-scale=1.0, target-densityDpi=device-dpi"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black-translucent"}

    = favicon_link_tag 'startup.png', rel: 'apple-touch-startup-image', type: 'image/png'
    = favicon_link_tag 'touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

  %body{:id => (@body_id if @body_id), :class => (@body_class if @body_class)}

    .outer-wrapper

      .inner-wrapper
        = yield :nav_bar

        .page-content{:class => (@inner_class if @inner_class)}
          = yield

        - if !@no_tab_bar
          //= render "shared/tab_bar"
          #tab-bar
            %ul
              %li
                = link_to circle_path do
                  = image_tag "tab-bar/circles-icon.png"
                  %span Circles
              %li
                = link_to bookmarks_path do
                  = image_tag "tab-bar/bookmark-icon.png"
                  %span Bookmarks
              %li
                = link_to circles_path do
                  = image_tag "tab-bar/new-post-icon.png"
                  %span Expression
              %li
                = link_to network_path do
                  = image_tag "tab-bar/network-icon.png"
                  %span Network
              %li
                = link_to account_path do
                  = image_tag "tab-bar/account-icon.png"
                  %span Account

          #tab-bar.filled{:class => (@tab_highlight if @tab_highlight)}
            %ul
              %li#tab-circles
                = link_to circle_path do
                  = image_tag "tab-bar/circles-icon-filled.png"
                  %span Circles
              %li#tab-bookmarks
                = link_to bookmarks_path do
                  = image_tag "tab-bar/bookmark-icon-filled.png"
                  %span Bookmarks
              %li#tab-expression
                = link_to circles_path do
                  = image_tag "tab-bar/new-post-icon-filled.png"
                  %span Expression
              %li#tab-network
                = link_to network_path do
                  = image_tag "tab-bar/network-icon-filled.png"
                  %span Network
              %li#tab-account
                = link_to account_path do
                  = image_tag "tab-bar/account-icon-filled.png"
                  %span Account

        #bottom-sheet
          = yield :bottom_sheet

        #fixed-to-base
          = yield :fixed_to_base

    = javascript_include_tag "application", "data-turbolinks-track" => true
