!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Circles"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, height=device-height,  maximum-scale=1.0, target-densityDpi=device-dpi"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black-translucent"}

    = favicon_link_tag 'startup.png', rel: 'apple-touch-startup-image', type: 'image/png'
    = favicon_link_tag 'touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

  %body{:id => (@body_id if @body_id), :class => (@body_class if @body_class)}

    .outer-wrapper

      .inner-wrapper
        = yield :nav_bar

        .page-content{:class => (@inner_class if @inner_class)}
          = yield

        - if !@no_tab_bar
          = render "shared/tab_bar"

    = javascript_include_tag "application", "data-turbolinks-track" => true
