!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Circles"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black-translucent"}

    = favicon_link_tag 'startup.png', rel: 'apple-touch-startup-image', type: 'image/png'
    = favicon_link_tag 'touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

  %body{:id => (@body_id if @body_id)}

    .outer-wrapper
      = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
